<div id="wrapper">
    <%- partial('../../../partials/admin-sidebar.ejs') %>
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/team">Team</a>
                    </li>
                </ol>
                <p>
                    <a href="/admin/team/new">New a team</a>
                </p>
                <h1>List of Team</h1>
                <div class="inbox-body">
                    <table class="table table-inbox table-hover">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Member</th>
                                <th>Leader</th>
                                <th>Action</th>
                            </tr>
                            <% teams.forEach(function(item){ %>
                                <tr class="" data-id="<%= item.id %>" </tr>
                                    <td>
                                        <%= item.name %>
                                    </td>
                                    <td>
                                        <% item.members.forEach(function(item2){ %>
                                            <%= item2.fullName%>,
                                            <% }); %>
                                    </td>
                                    <td>
                                            <% item.members.forEach(function(item3){ %>
                                                    <%= (item3.manage_team == item.id) ? item3.fullName+',' : '' %>
                                                <% }); %>
                                    </td>
                                    <td>
                                            <a href="/admin/team/edit/<%= item.id %>">Edit</a>
                                        </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>