<div id="wrapper">

    <!-- Sidebar -->
    <%- partial('../../../partials/admin-sidebar.ejs') %>
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/User">User</a>
                    </li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
                <form method="PUT" action="/admin/user/update/<%= edited_user[0].id %>">
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="text" name="emailAddress" class="form-control" value="<%= edited_user[0].emailAddress%>" placeholder="Enter Email Address"
                            required="true">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" value="" strdate="" id="password" placeholder="Enter Password" required="true">
                    </div>

                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" name="fullName" class="form-control" value="<%= edited_user[0].fullName%>" strdate="" id="password" placeholder="Enter Full Name"
                            required="true">
                    </div>

                    <div class="form-group">
                        <label for="Team">Choose Team</label>
                        <select name="team" class="form-control select2">
                            <% teams.forEach(function(item){ %>
                                <option value="<%= item.id %>" selected="<%= (edited_user[0].team == item.id) ? 'selected' : ''%>">
                                    <%= item.name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="position">Choose Position</label>
                        <select name="position" class="form-control select2">
                            <% positions.forEach(function(item){ %>
                                <option value="<%= item.id %>" selected="<%= (edited_user[0].position == item.id) ? 'selected' : ''%>">
                                    <%= item.name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="emailStatus">Email Status</label>
                        <select name="emailStatus" class="form-control select2">
                            <option value="confirmed" <%= (edited_user[0].emailStatus == 'confirmed') ? 'selected' : ''%>>Confirmed
                            </option>
                            <option value="unconfirmed" <%= (edited_user[0].emailStatus == 'unconfirmed') ? 'selected' : ''%>>UnConfirmed
                            </option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="workingDate">Working Date</label>
                        <input type="date" name="workingDate" class="form-control" value="" strdate="<%= edited_user[0].workingDate.toLocaleDateString() %>" id="workingDate" placeholder="Enter End Working Date"
                            required="true">
                    </div>

                    <input type="submit" value="Save" class="btn btn-info">
                </form>
            </div>
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    var str = $('#workingDate').attr("strdate").split("-");
    var strOut = str[0] + "-";

    if (str[1].length == 1) {
        strOut = strOut + "0" + str[1];
    }
    else {
        strOut = strOut + str[1];
    }

    strOut = strOut + "-";
    if (str[2].length == 1) {
        strOut = strOut + "0" + str[2];
    }
    else {
        strOut = strOut + str[2];
    }
    $('#workingDate').val(strOut);
</script>