<div id="wrapper">


    <%- partial('../../../partials/admin-sidebar.ejs') %>

        <div id="content-wrapper">

            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/project">Project</a>
                        </li>
                    </ol>
                <p>
                    <a href="/admin/project/new">New project</a>
                </p>
                <h1>List of Project</h1>
                <div class="inbox-body">
                    <table class="table table-inbox table-hover">
                        <tbody>
                            <tr>
                                <th>Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                            <% projects.forEach(function(project){ %>
                                <tr class="" data-id="<%= project.id %>" </tr>
                                    <td>
                                        <%= project.title %>
                                    </td>
                                    <td>
                                        <%= project.startDate.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= project.endDate.toLocaleDateString() %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
