<div class="container">
    <p> <a href="/work/new">New work for project</a></p>
    <h1>List of Work</h1>
    <div class="inbox-body">
        <table class="table table-inbox table-hover">
            <tbody>
                <tr>
                    <th>Title</th>
                    <th>WorkLoad</th>
                    <th>Complete Date</th>
                    <th>Action</th>
                </tr>

                <% works.forEach(function(work){ %>
                    <tr class="" data-id="<%= work.id %>" </tr>
                        <td>
                            <%= work.title %>
                        </td>
                        <td>
                            <%= work.workLoad %>
                        </td>
                        <td>
                            <% if (work.completeDate) { %>
                                <%= work.completeDate.toDateString() %>
                                    <% } %>
                        </td>
                        <% if (work.completeDate) { %>
                            <td>
                                <a href="/work/edit/<%= work.id %>">Edit</a>
                            </td>
                            <% }  
                                else 
                                { %>
                                <td>
                                    <a href="/work/finish/<%= work.id %>">Finish</a>
                                </td>
                                <% } 
                            %>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>