<div class="container">
    <h1>List of Work</h1>
    <div class="inbox-body">
            <table class="table table-inbox table-hover">
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <th>WorkLoad</th>
                            <th>Complete Date</th>
                            <th>Action</th>
                        </tr>
                
                        <% works.forEach(function(work){ %>
                            <tr class="" data-id="<%= work.id %>"</tr>
                            <td>
                                <%= work.title %>
                            </td>
                            <td>
                                <%= work.workLoad %>
                            </td>
                            <td>
                                <%= work.completeDate %>
                            </td>
                            <td><a href="/work/edit/<%= work.id %>">Edit</a></td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
    </div>
</div>