<div class="container">
        <p>
            <a href="/absen/new">Submit a absen</a>
        </p>
        <h1>List of Plan</h1>
        <div class="inbox-body">
            <table class="table table-inbox table-hover">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <th>Number Of Days Off</th>
                        <th>Reason</th>
                        <th>Approved By</th>
                    </tr>
                    <% absens.forEach(function(item){ %>
                        <tr class="" data-id="<%= item.id %>" </tr>
                            <td>
                                <%= item.title %>
                            </td>
                            <td>
                                <%= item.numberOfDaysOff %>
                            </td>
                            <td>
                                    <%= item.reason %>
                                </td>
                            <td>
                                    <%= item.approvedBy.fullName %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>